## NAME: MARYAM WAJAHAT

# LIST

In [3]:
#1. declare an empty list 
emp_list = []
print(emp_list)

[]

In [4]:
#2. declare a list with more than 5 items
months = ['january','february','march','april','may','june','july']
print(months)

['january', 'february', 'march', 'april', 'may', 'june', 'july']

In [5]:
#3.find the length of list
print(len(months))

7

In [6]:
# 4. get the first, middle and last item of the list
print(months[0: :3])

['january', 'april', 'july']

In [7]:
#5. Declare a list called mixed_data_types, put your (name, age, height, marital status, address)
mixed_data_types = ['Maryam Wajahat',23,'5ft 3inch','single','Karachi']
print(mixed_data_types)

['Maryam Wajahat', 23, '5ft 3inch', 'single', 'Karachi']

In [8]:
#6. Declare a list variable named IT_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon, Print the list using print() and Print the number of companies in the list
IT_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
print(IT_companies)
print(len(IT_companies))

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7

In [9]:
#7. print the first, middle and last company
print(IT_companies[0: :3])

['Facebook', 'Apple', 'Amazon']

In [10]:
#8. modify one of the companies
IT_companies[1] = 'Adobe'
print(IT_companies)

['Facebook', 'Adobe', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [11]:
#9. add one company to the list
IT_companies.append('Accenture')
print(IT_companies)

['Facebook', 'Adobe', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Accenture']

In [12]:
#10. add an IT company in the middle of the list
IT_companies.insert(4,'Infosys')
print(IT_companies)

['Facebook', 'Adobe', 'Microsoft', 'Apple', 'Infosys', 'IBM', 'Oracle', 'Amazon', 'Accenture']

In [13]:
#11. changing one name to uppercase
IT_companies[3] = IT_companies[3].upper()
print(IT_companies)

['Facebook', 'Adobe', 'Microsoft', 'APPLE', 'Infosys', 'IBM', 'Oracle', 'Amazon', 'Accenture']

In [14]:
#12. sort the list
sorted(IT_companies)

['APPLE',
 'Accenture',
 'Adobe',
 'Amazon',
 'Facebook',
 'IBM',
 'Infosys',
 'Microsoft',
 'Oracle']

In [15]:
#13. reverse the list in descending order
IT_companies.reverse()
print(IT_companies)

['Accenture', 'Amazon', 'Oracle', 'IBM', 'Infosys', 'APPLE', 'Microsoft', 'Adobe', 'Facebook']

In [16]:
#14. slice out first three companies
IT_companies[0:3]

['Accenture', 'Amazon', 'Oracle']

In [17]:
#15. slice out last three companies from the list
IT_companies[-3:]

['Microsoft', 'Adobe', 'Facebook']

In [18]:
#16. slice out middle company from the list
IT_companies[4]

'Infosys'

In [19]:
#17. remove first company from the list
IT_companies.pop(0)
print(IT_companies)

['Amazon', 'Oracle', 'IBM', 'Infosys', 'APPLE', 'Microsoft', 'Adobe', 'Facebook']

In [20]:
#18. remove middle companies from the list
IT_companies.remove('Infosys')
print(IT_companies)

['Amazon', 'Oracle', 'IBM', 'APPLE', 'Microsoft', 'Adobe', 'Facebook']

In [21]:
#19. remove last IT_company from the list
IT_companies.pop(-1)
print(IT_companies)

['Amazon', 'Oracle', 'IBM', 'APPLE', 'Microsoft', 'Adobe']

In [22]:
#20. remove all companies from the list
IT_companies.clear()
print(IT_companies)

[]

In [23]:
#21. destroy the list 
del IT_companies

In [24]:
#22 & 23. Join the following lists and assign it to a variable full_stack.
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
full_stack = front_end + back_end
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [25]:
#24. insert python and SQL after redux
full_stack.insert(5,'Python')
full_stack.insert(6,'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [26]:
#25 & 26. list of 10 students
ages = [19,22,19,24,20,25,26,24,25,24]
print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [27]:
#27. sort the list and find min and max ages
ages.sort()
print(ages)
print(max(ages))
print(min(ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
26
19

In [28]:
#28. add min age and max age again to the list
ages.append(min(ages))
ages.append(max(ages))
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [29]:
#29. find the median age
ages.sort()
print(ages)

median = (ages[5]+ages[6])/2
print(median)

[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
24.0

In [30]:
#30. average
total = len(ages)
average = sum(ages)/total
print(average)

22.75

In [31]:
#31. range of ages
range = max(ages) - min(ages)
print(range)

7

In [32]:
#32. comparing value of min-average and max-average
min_diff = abs(min(ages) - average)
max_diff = abs(max(ages) - average)
comparison = 'min_average' if min_diff>max_diff else 'max_average'
print('value of', comparison, 'is greater')

value of min_average is greater

In [33]:
#33. find the middle country
countries = ['China','Russia','USA','Finland','Sweden','Norway','Denmark']
print(countries[3])

Finland

In [34]:
#34. divide the countries into two equal halves. if not equal insert one more country to the first half
countries.insert(3,'Canada')
print(countries)

first_half = countries[0:4]
second_half = countries[4: ]
print('first half:',first_half)
print('second half:',second_half)

['China', 'Russia', 'USA', 'Canada', 'Finland', 'Sweden', 'Norway', 'Denmark']
first half: ['China', 'Russia', 'USA', 'Canada']
second half: ['Finland', 'Sweden', 'Norway', 'Denmark']

In [35]:
#35. Unpack the first three countries and the rest as scandic countries.
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
country1, country2, country3, *scandic_countries = countries
print(country1)
print(country2)
print(country3)
print(scandic_countries)

China
Russia
USA
['Finland', 'Sweden', 'Norway', 'Denmark']

# TUPLES

In [37]:
#1. create an empty tuple
emp_tuple = ()
print(type(emp_tuple))

<class 'tuple'>

In [38]:
#2. tuple containing names of your brothers and sisters
sisters = ('Aasia','Abiha')
brothers = ('Saif','Hussain')
print(sisters)
print(brothers)

('Aasia', 'Abiha')
('Saif', 'Hussain')

In [39]:
#3. join brothers and sisters and assign it to siblings
siblings = sisters + brothers
print(siblings)

('Aasia', 'Abiha', 'Saif', 'Hussain')

In [40]:
#4. how many siblings
print(len(siblings))

4

In [41]:
#5. modify siblings and add names of your parents and assign it to family members
parents = ('Sheema','Wajahat')
family_members = parents+siblings
print(family_members)

('Sheema', 'Wajahat', 'Aasia', 'Abiha', 'Saif', 'Hussain')

In [42]:
#6. unpack siblings and parents from family members
parents, siblings = family_members[0:2], family_members[2: ]
print('parents:', parents)
print('siblings:', siblings)

parents: ('Sheema', 'Wajahat')
siblings: ('Aasia', 'Abiha', 'Saif', 'Hussain')

In [43]:
#7. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.
fruits = ('Apple','Banana','Mango')
vegetables = ('Tomato','Potato','Carrot')
animal_products = ('Chicken','Beef','Mutton')
food_stuff_tp = fruits+vegetables+animal_products
print(food_stuff_tp)

('Apple', 'Banana', 'Mango', 'Tomato', 'Potato', 'Carrot', 'Chicken', 'Beef', 'Mutton')

In [44]:
#8. change food_stuff_tp touple to food_stuff_lt list
food_stuff_lt = (list(food_stuff_tp))
print(food_stuff_lt)
print(type(food_stuff_lt))

['Apple', 'Banana', 'Mango', 'Tomato', 'Potato', 'Carrot', 'Chicken', 'Beef', 'Mutton']
<class 'list'>

In [45]:
#9. slice out the middle item
print(food_stuff_lt[4])

Potato

In [46]:
#10. slice out the first three items and last three items
print('first three items:', food_stuff_lt[0:3])
print('last three items:', food_stuff_lt[6: ])

first three items: ['Apple', 'Banana', 'Mango']
last three items: ['Chicken', 'Beef', 'Mutton']

In [47]:
#11. delete food_stuff_tp
del food_stuff_tp

# SETS

In [49]:
IT_companies = {'Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}
A = {19,22,24,20,25,26}
B = {19,22,20,25,26,24,28,27}
age = [22,19,24,25,26,24,25,24]

In [50]:
#1. find the length of IT_companies 
print(len(IT_companies))

7

In [51]:
#2. add twitter to IT_companies
IT_companies.add('Twitter')
print(IT_companies)

{'Microsoft', 'Apple', 'Twitter', 'IBM', 'Facebook', 'Amazon', 'Oracle', 'Google'}

In [52]:
#3. insert multiple IT companies at once 
IT_companies.update(['Infosys','Adobe','Meta'])
print(IT_companies)

{'Infosys', 'Microsoft', 'Facebook', 'Amazon', 'Apple', 'Adobe', 'Google', 'Meta', 'Twitter', 'IBM', 'Oracle'}

In [53]:
#4. remove any one company
IT_companies.remove('Apple')
print(IT_companies)

{'Infosys', 'Microsoft', 'Facebook', 'Amazon', 'Adobe', 'Google', 'Meta', 'Twitter', 'IBM', 'Oracle'}

In [54]:
#5. difference between remove and discard
# REMOVE: Remove is used to delete an assigned elementy from the set but if the element doesnot exist doesnot return an error.
# DISCARD: Discard is also used to remove an element from the list but if the assigned element is not present then it returns an error.

In [55]:
#6. join A and B
print(A)
print(B)
print(A|B)

{19, 20, 22, 24, 25, 26}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [56]:
#7. A intersection B
print(A&B)

{19, 20, 22, 24, 25, 26}

In [57]:
#8. is A a subset of B
print(A.issubset(B))

True

In [58]:
#9. are A and B disjoint sets
print(A.isdisjoint(B))

False

In [59]:
#10. join A with B 
print(A|B)
#join B with A
print(B|A)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [60]:
#11. symmetric difference between A and B
print(A^B)
#between B and A
print(B^A)

{27, 28}
{27, 28}

In [61]:
#12. delete the sets
del IT_companies
del A
del B

In [62]:
#13. convert ages to a set
ages_set = set(ages)
print('set:',ages_set)
print('list:',ages)

#compare length of list and set which one is bigger
len_list = len(ages)
len_set = len(ages_set)

if len_list>len_set:
    print('length of list is bigger:', len_list)
else:
    print('length of set is bigger:', len_set)

set: {19, 20, 22, 24, 25, 26}
list: [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
length of list is bigger: 12

In [63]:
#14. 
# STRING: A string is a data type which includes alphabetical characters and is enclosed with "". 
# LIST: List is a mutable data type which is ordered, allows dupliates and can store multiple data types like string, float, integer etc. it is represented by [].
# TUPLE: Tuple is an ordered and immutable data type hence once created it cannot be modified. it allows repitition and can also store multiple data types and is represented using ().
# SET: Set is an unordered colletion of well-defined and distinct objects. sets are mutable and can perform operations like union, intersection, difference, symmetric difference, subset, superset and disjoint. it is reprented using {}.