# SETS

In [2]:
#representation of empty set
name = set()
print(type(name))

#with {} is dictionary
s1 = {}
print(type(s1))

<class 'set'>
<class 'dict'>

In [3]:
s = {1,4,5,5}
print(s)

{1, 4, 5}

In [4]:
s1 = {1,2,3,(4,5)}   #tuple can be added in a set as it is immutable
print(s1)
#s2 = {1,2,3,[4,5]}    #list cannot be added in set as it is mutable 
#print(s2)

{3, 1, (4, 5), 2}

In [5]:
set = {1,'maryam',2.5,True}   #true and 1 are considered same and will not be printed again
print(set)

{1, 2.5, 'maryam'}

In [6]:
#turning list to set
fruits = set(['apple','banana','cherry'])
print(fruits)

TypeError: 'set' object is not callable

In [18]:
set1 = {1,2,3,4}
set2 = {4,3,2,1}
set1 == set2

True

In [20]:
print(set)

{1, 2.5, 'maryam'}

In [22]:
#accseing elements
#print(set[0])      gives error as it unordered and doesnot have any index
#similiarly cannot add elements to a specific index
#set[0] = 'cherry'

In [24]:
#for addition(single element)
s = {1,2,3,4}
s.add(5)   #only takes one argument
print(s)

{1, 2, 3, 4, 5}

In [26]:
#for addition (multiple elements)
s.update([6,7,8])    #here it converts every element of the list to a separate item and add according to the formulas of list 
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [28]:
s.update((9,10))   #can add tuples as well 
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [30]:
s.update({11,12})    #adds another set also
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [32]:
s.update('maryam')   #considers all elements of strings as individuals
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 'r', 'm', 'a', 'y'}

In [34]:
s.update(['maryam'])   #prints string collectively only when it is entered in a list
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 'r', 'm', 'maryam', 'a', 'y'}

In [36]:
name = {'m','a','r','y','a','m'}
print(name)

{'a', 'r', 'm', 'y'}

In [38]:
name.update([6,2])
print(name)

{2, 6, 'r', 'm', 'a', 'y'}

In [40]:
s.pop()  #here pop starts deleting from the first item
print(s)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 'r', 'm', 'maryam', 'a', 'y'}

In [42]:
s.remove(5)  #removes the assigned item
print(s)

{2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 'r', 'm', 'maryam', 'a', 'y'}

In [45]:
s.discard(10)
print(s)

{2, 3, 4, 6, 7, 8, 9, 11, 12, 'r', 'm', 'maryam', 'a', 'y'}

In [47]:
#del s[2]
#generates error as it doesnot support indexing

In [49]:
#Vlearing the entire set
s.clear()
print(s)

set()

### operations in a set

In [62]:
#union (represented by |
s3 = {3,2,4,5,6}
s4 = {3,4,5,10,12,13}
print(s3 | s4)

{2, 3, 4, 5, 6, 10, 12, 13}

In [54]:
#intersection (&)
print(s3 & s4)

{3, 4, 5}

In [66]:
#difference (-)   prints uncommon items of the first mentioned set
print(s3-s4)
print(s4-s3)

{2, 6}
{10, 12, 13}

In [77]:
#symmetri difference (^)  prints the uncommon elements of both sets
print(s3^s4)
print(s4^s3)

{2, 6, 10, 12, 13}
{2, 6, 10, 12, 13}

In [79]:
#membership
3 in s3

True

In [87]:
#difference between remove and discard
s = {1,2,3,4,5,6}
print(s)

#s.remove(8)
#print(s)

s.discard(8)
print(s)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [93]:
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s, reverse = True))

6
21
1
6
[6, 5, 4, 3, 2, 1]

In [97]:
#check again
#union and update 
s3.union(s4)
print(s3)

s3.update(s4)
print(s4)

{2, 3, 4, 5, 6}
{3, 4, 5, 10, 12, 13}

In [105]:
#superset and subset
s1 = {1,2,3,4,5}
s2 = {3,4,5}
print(s1.issuperset(s2))
print(s2.issubset(s1))

True
True

In [109]:
s1 = {1,2,3,4}
s2 = {5,6,7,8}
s1.isdisjoint(s2)
s1.add(5)
print(s1)

{1, 2, 3, 4, 5}

In [117]:
#frozen set: transforms mutable set to immutable(unchangeable) and then acts as a tuple
fs1 = frozenset({1,2,3})
fs2 = frozenset({3,4,5})
#frozenset only works with frozenset and not others
fs1|fs2

frozenset({1, 2, 3, 4, 5})

In [119]:
fs1|s1

frozenset({1, 2, 3, 4, 5})