# DYNAMIc PROGRAMS

### calulating force with use input

mass = float(input("enter value of mass:"))
acc = float(input("enter value of acc:"))
force = (mass * acc)
print("force is:",force,"N")
print(type(force))

### calculating sum

In [11]:
value1 = int(input("enter 1st value:"))
value2 = float(input("enter 2nd value:"))
sum = value1 + value2
print("sum of both values is:",sum)

enter 1st value: 5
enter 2nd value: 6.4

sum of both values is: 11.4

## arithmetic operators

In [34]:
# Assigning values to variables
v1 = float(input("enter 1st variable:"))
v2 = float(input("enter 2nd variable:"))

# Addition
print('v1 + v2 =', v1 + v2)

# Subtraction
print('v1 - v2 =', v1 - v2)

# Multiplication
print('v1 * v2 =', v1 * v2)

# Division
print('v1 / v2 =', v1 / v2)

# Modulus: gives remainder
print('v1 % v2 =', v1 % v2)

# Floor Division: returns quotient but numbers after decimal are removed
print('v1 // v2 =', v1 // v2)

# Exponent: gives powered value
print('v1 ** v2 =', v1 ** v2)

enter 1st variable: 10
enter 2nd variable: 3

v1 + v2 = 13.0
v1 - v2 = 7.0
v1 * v2 = 30.0
v1 / v2 = 3.3333333333333335
v1 % v2 = 1.0
v1 // v2 = 3.0
v1 ** v2 = 1000.0

### importing math library

In [25]:
import math
pow(2,3)

8

### calculating power with user input

In [29]:
value1 = float(input("enter value 1:"))
value2 = float(input("enter value 2:"))
power = value1 ** value2
print(power)

enter value 1: 2
enter value 2: 4

16.0

### type casting

In [43]:
number = str(6)
print(type(number))

<class 'str'>

In [45]:
name = int(maryam)
print(type(name))

NameError: name 'maryam' is not defined

In [49]:
num = int("6")
print(type(num))

<class 'int'>

### generating variables with i single line

In [54]:
name,age,gender,is_age = "maryam",23,"female",True
print(name,age,gender,is_age)
print(type(name),type(age),type(gender),type(is_age))

maryam 23 female True
<class 'str'> <class 'int'> <class 'str'> <class 'bool'>

### changing letter cases

In [57]:
txt = "Relational Operators Relational operators or comparison operators as their name suggest are used in comparing the values. The return type of these operators are either True or False. The different comparison operators are Greater than, Greater than or equal to, less than, lesser than or equal to, equal to, and not equal to."
txt.lower()

'relational operators relational operators or comparison operators as their name suggest are used in comparing the values. the return type of these operators are either true or false. the different comparison operators are greater than, greater than or equal to, less than, lesser than or equal to, equal to, and not equal to.'

In [59]:
txt = "Relational Operators Relational operators or comparison operators as their name suggest are used in comparing the values. The return type of these operators are either True or False. The different comparison operators are Greater than, Greater than or equal to, less than, lesser than or equal to, equal to, and not equal to."
txt.upper()

'RELATIONAL OPERATORS RELATIONAL OPERATORS OR COMPARISON OPERATORS AS THEIR NAME SUGGEST ARE USED IN COMPARING THE VALUES. THE RETURN TYPE OF THESE OPERATORS ARE EITHER TRUE OR FALSE. THE DIFFERENT COMPARISON OPERATORS ARE GREATER THAN, GREATER THAN OR EQUAL TO, LESS THAN, LESSER THAN OR EQUAL TO, EQUAL TO, AND NOT EQUAL TO.'

### problem

In [64]:
english = float(input("enter marks of english:"))
math = float(input("enter marks of math:"))
physics = float(input("enter marks of physics:"))
mechanics = float(input("enter marks of mechanics:"))
gis = float(input("enter marks of gis:"))
total = 500
obtained = english + math + physics + mechanics + gis
percentage = (obtained / total)* 100
print(percentage)

enter marks of english: 88
enter marks of math: 95
enter marks of physics: 93
enter marks of mechanics: 88
enter marks of gis: 96

92.0