In [5]:
#squares
def square(num_list):
    emp_list = []
    for num in num_list:
        emp_list.append(num**3)
    return emp_list
num_list = [2,3,4,5]
print("Original List:",num_list)
square(num_list)

Original List: [2, 3, 4, 5]

[8, 27, 64, 125]

In [15]:
#sum

def sum(num_list):
    sum=0
    for i in num_list:
        sum=sum+i
    return sum
num_list=[1,2,3,4,5]
print("Original List",num_list)
sum(num_list)

Original List [1, 2, 3, 4, 5]

15

In [21]:
def product(num_list):
    product=1
    for i in num_list:
        product*=i
    return product
num_list=(1,2,3,4,5)
product(num_list)

120

In [27]:

def valid_even(num):
    if type(num)==int:
        if num%2==0:
            print("Even")
        else:
            print("Odd")
    else:
        print("Inavlid Syntax")
    return
valid_even('m')

Inavlid Syntax

In [29]:
for i in range(1,11):
    valid_even(i)

Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even

## TYPES OF ARGUMENTS

In [13]:
#Default Aruguments
#Positional Arguments
#Keyword Arguments

In [23]:
#Default
def power(a=1,b=1):
    return a**b
pow(3,2)

9

In [25]:
pow( )

TypeError: pow() missing required argument 'base' (pos 1)

In [27]:
#Positional
power(b=3,a=2)

8

In [31]:
#Keyword
def power(c=3.8,b=1):
    return c**b

In [31]:
# *args *keywargs

In [33]:
def product(*args):
    product=1
    for i in args:
        product*=i
    print(args)
    return product

In [35]:
product(1,2,3,4,5,6,7,8)

(1, 2, 3, 4, 5, 6, 7, 8)

40320

In [3]:
def profile(*args):
   # print("------------------")
    #print("Name:",name)
    #print("Age:",age)
    #print("Gender:",gender)
    #print("Occupation:",occupation)
    #print("--------------------")
    #return
    print(args)
name = input("Enter your name:")
age = input("Enter your age:")
gender = input("Enter your gender:")
occupation = input("Enter your occupation:")
profile(name,age,gender,occupation)

Enter your name: maryam
Enter your age: 24
Enter your gender: f
Enter your occupation: s

('maryam', '24', 'f', 's')

In [9]:
def profile(**kwargs):
    for key,value in kwargs.items():
        print(key,'---->',value)
name = input("Enter your name:")
age = input("Enter your age:")
gender = input("Enter your gender:")
occupation = input("Enter your occupation:")
profile(name=name,age=age,gender=gender,occupation=occupation)

Enter your name: maryam
Enter your age: 24
Enter your gender: female
Enter your occupation: student

name ----> maryam
age ----> 24
gender ----> female
occupation ----> student

In [17]:
def countries_capitals(**kwargs):
    for key,value in kwargs.items():
        print(key,'--->',value)
#countries_capitals(Pakistan='Islamabad',India='Delhi',Bangladesh='Dhaka')

In [19]:
countries_capitals(Pakistan='Islamabad',India='Delhi',Bangladesh='Dhaka')

Pakistan ---> Islamabad
India ---> Delhi
Bangladesh ---> Dhaka

In [9]:
def profile(**maryam):
    for key,value in maryam.items():
        print(key,'---->',value)
name = input("Enter your name:")
age = input("Enter your age:")
gender = input("Enter your gender:")
occupation = input("Enter your occupation:")
profile(name=name,age=age,gender=gender,occupation=occupation)

Enter your name: maryam
Enter your age: 24
Enter your gender: female
Enter your occupation: student

name ----> maryam
age ----> 24
gender ----> female
occupation ----> student

In [23]:
profile(University="Karachi University")

University ----> Karachi University